/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



/* required for containers to inherit vertical size from window */
body, html {
  height: 100%;
}

/*html {
   background-image: url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
   overflow-x: hidden;

}*/

#container {
	padding: 5px;
	margin-bottom: 0px;
	/*background-color:#666;*/
	height:200px;
}

#nav {
	height:47px;
	background-color: #6A6A6A;
	width: 100%;
	position:relative;
}

#screen-title {
	font-family:"helvetica neue";
	font-weight:300;
	text-shadow: 0px 1px 0px rgba(170, 170, 170, .4);
	letter-spacing:0px;
	/*margin-left: 15px;*/
	margin-top:5px;
	padding:0px 0px 0px 0px;
	color: #FFF;
	font-size: 22px;
	line-height: 34px;
	text-align:center;
	display: block;
	position: absolute;
	width: 160px;
	left:50%;
	margin-left:-80px;
	-webkit-user-select: none;
}
#nav div a:hover {
	display:block;
	color: #FF0;
}
#select-all {
	visibility: hidden;
	background-color: #8CC63F;
	float: left;
	color: #ffffff;
	display:inline-block;
	height:30px;
	width:80px;
	text-align:center;
	/*text-shadow: 0px 1px 0px rgba(170, 170, 170, .4);*/
	font-weight: 500;
	line-height:31px;
	margin-left:10px;
	margin-top:9px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
#select-all:active {
	opacity: .5;
}
#done {
	background-color: #4a4a4a;
	position: absolute;
	right:0;
	color: #ffffff;
	display:inline-block;
	height:30px;
	width:65px;
	text-align:center;
	/*text-shadow: 0px 1px 1px rgba(170, 170, 170, .4);*/
	font-weight: 500;
	line-height:31px;
	margin-right:10px;
	margin-top:9px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
#done:active {
	opacity: .5;
}
#cancel {
    background-color: #4a4a4a;
	position: absolute;
	right:0;
	color: #ffffff;
	display:inline-block;
	height:30px;
	width:65px;
	text-align:center;
	/*text-shadow: 0px 1px 1px rgba(170, 170, 170, .4);*/
	font-weight: 500;
	line-height:31px;
	margin-right:10px;
	margin-top:9px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
#cancel:active {
	opacity: .5;
}

#selections {
	height:80px;
	background-color: #93D9FA;
	width: 100%;
}
#selections li {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	float: left;
	margin-left: 15px;
	margin-top:5px;
	padding:0px 0px 0px 0px;
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
}

#header {
	height:80px;
	background-color: #009EC5;
	width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	float: left;
	padding:0px 0px 0px 0px;
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
}

.element {
	/*background-color: #0CF;*/
	float: left;
	overflow: hidden;
	position: relative;
	display:block;
	padding: 5px 5px 5px 10px;
	margin: 5px;
	/*margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #FFF;
	font-size: 44px;
	line-height: 30px;*/
}
/*
.demographic {
	background-color: #F93;
}
.usertype {
	background-color: #F66;
}
.question {
	background-color: #0CF;
}
*/

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/*.selected {
	border:4px #000000 solid;
	background: rgba(255, 30, 0, .8);
	height: 142px;
	width: 142px;
}

.unselected {
	border:1px #425672 solid;
	background: rgba(50, 100, 150, .5);
	height: 150px;
	width: 150px;
}*/

.tag-one {
	width:40%;
	height:50px;
	line-height:55px;
	border:0px #666666 solid;
	background-color:#ffffff;
	opacity: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*background: rgba(50, 100, 150, .5);*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

.tag-one p {
	color:#000000;
	font-family:"Helvetica Neue";
	font-size:18px;
	margin:4px 14px 0px 5px;
	font-weight:normal;
	line-height:42px;
}

.tag-one.selected {
	border:1px #555555 solid;
	/*background: rgba(211, 227, 195, 1);
	-moz-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	-webkit-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	 box-shadow: inset 0 0px 10px rgba(0,0,0,.25);*/
}

.tag-one.selected .checkmark {
	background-image:url(../img/checkmark.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position:relative;
	top:-32px;
	float:right;
	opacity:1;
}

.tag-one.unselected {
	border:1px #acacac solid;
}

.tag-one.unselected .checkmark {
	background-image:url(../img/checkmark-empty.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position:relative;
	top:-32px;
	float:right;
	opacity:.5;
}

.tag-two {
	width:89%;
	height:60px;
	border:0px #000000 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

.tag-two p {
	color:#000000;
	font-family:'helvetica neue';
	font-size:18px;
	margin:4px 20px 0 5px;
	font-weight:normal;
	line-height:24px;
}

.tag-two.selected {
	border:1px #444444 solid;
	/*background: rgba(167, 191, 205, 1);
	-moz-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	-webkit-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	box-shadow: inset 0 0px 10px rgba(0,0,0,.25);*/
}

.tag-two.selected .checkmark {
	background-image:url(../img/checkmark.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position: absolute;
	top: 25px;
	right: 5px;
	opacity:1;
}

.tag-two.unselected {
	border:1px #444444 solid;
}

.tag-two.unselected .checkmark {
	background-image:url(../img/checkmark-empty.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position: absolute;
	top: 25px;
	right: 5px;
	opacity:.5;
}

.tag-three {
	width:89%;
	height:54px;
	border:0px #000000 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

.tag-three p {
	color:#000000;
	font-family:'helvetica neue';
	font-size:18px;
	margin:2px 20px 0 5px;
	font-weight:normal;
	line-height:24px;
}

.tag-three.selected {
	border:1px #444444 solid;
	/*background: rgba(167, 191, 205, 1);
	-moz-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	-webkit-box-shadow: inset 0 0px 10px rgba(0,0,0,.25);
	box-shadow: inset 0 0px 10px rgba(0,0,0,.25);*/
}

.tag-three.selected .checkmark {
	background-image:url(../img/checkmark.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position: absolute;
	top: 20px;
	right: 5px;
	opacity:1;
}

.tag-three.unselected {
	border:1px #444444 solid;
}

.tag-three.unselected .checkmark {
	background-image:url(../img/checkmark-empty.png);
	background-repeat:no-repeat;
	background-position:center;
	height:25px;
	width:25px;
	position: absolute;
	top: 20px;
	right: 5px;
	opacity:.5;
}

/* iScroll styles */
/*#wrapper {
	position:absolute;
	z-index:100;
	top:199px; bottom:25px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
	height:200px;
}*/

#scroller {
	/*position:absolute;*/
	z-index:100;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	height:320px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* comment out to avoid weird iOS5 display issue */
	background-color:rgba(255, 255, 255, 0);
}

/* this fixes the -webkit-overflow-scrolling: touch; issue of obscuring elements inside scrolling view*/
#scroller > * {
    -webkit-transform: translateZ(0px);
}

#usertype-slider {
	width: 90%;
	margin: 15px auto 15px auto;
}

.ui-slider .ui-slider-handle {
	width: 26px;
	height: 26px;
	background: #8CC63F;
	border: 1px solid #ffffff;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -8px;
	margin-left: -16px;
}

/* FROM swipe.css */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
a:hover, a:active { outline:none; }
select, input, textarea, button { font:99% sans-serif; }
input, select { vertical-align:middle; }
img { border:0; max-width:100%; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
.nocallout {-webkit-touch-callout: none;} /* prevent callout */
table { margin:0; padding:0; clear:left; width:100%; border-collapse:collapse; border-spacing:0; }
table td { vertical-align:top; margin:0; }
html {
  height:100%;
  background:#191D1F;
}
body {
  font:13px/1.4 sans-serif;
  *font-size: small;
  word-wrap:break-word;
  margin:0 auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  color:#3c3c3c;
  max-width:320px;
  min-width:320px;
  background:#fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  float: left;
  background-image: url(../img/bg9-568h.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.theme_dy {
	background-image: url(../img/bg-webview_dy.jpg);
}
.theme_lh {
	background-image: url(../img/bg-webview_lh.jpg);
}

a {
  color:#1191C3;
}
p {
  margin-bottom:1em;
}

header {
  background-color: #14a8e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#14a8e2), to(#018CB6));
  background-image: -webkit-linear-gradient(top, #14a8e2, #018CB6);
  background-image:    -moz-linear-gradient(top, #14a8e2, #018CB6);
  background-image:     -ms-linear-gradient(top, #14a8e2, #018CB6);
  background-image:      -o-linear-gradient(top, #14a8e2, #018CB6);
  background-image:         linear-gradient(top, #14a8e2, #018CB6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#14a8e2', EndColorStr='#018CB6');
  border-bottom:1px #30A3C2 solid;
}
  header h1 {
    color:#fff;
    font-size:20px;
    text-align:center;
    padding:7px 0;
    text-shadow: 0 -1px 0 #026787;
  }

#gallery {
  /*background:#23282C;*/
}
#slider {
	padding:10px 0 0 0;
	/*height:75px;*/
}
#slider li div {
	margin: 0 10px;
	padding: 0px 7px 0px 7px;
	/*border-radius: 20px;
	border-top: 1px #fff solid;
	background: #F7F9FA;
	background: rgba(200, 200, 200, .5);
	-webkit-box-shadow: 0px 1px 2px #0D0F11;
	-moz-box-shadow: 0px 1px 2px #0D0F11;
	box-shadow: 0px 1px 2px #0D0F11;*/
	font-size: 30px;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	font-family: "Helvetica Neue";
	font-weight:normal;
	color:#ffffff;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
	background-image:    -moz-linear-gradient(top, #dddddd, #ffffff);
	background-image:     -ms-linear-gradient(top, #dddddd, #ffffff);
	background-image:      -o-linear-gradient(top, #dddddd, #ffffff);
	background-image:         linear-gradient(top, #dddddd, #ffffff);*/

	/* from http://www.colorzilla.com/gradient-editor/ *//* FF3.6+ *//* Chrome,Safari4+ *//* Chrome10+,Safari5.1+ *//* Opera 11.10+ *//* IE10+ *//* W3C *//* IE6-9 */
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,0.61) 0%, rgba(255,255,255,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.61)), color-stop(100%,rgba(255,255,255,0.9)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.9) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0.61) 0%,rgba(255,255,255,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cffffff', endColorstr='#e6ffffff',GradientType=0 );*/
}
#gallery nav {
	/*border-top:1px #3A4146 solid;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#292F34), to(#23282C));
	background-image: -webkit-linear-gradient(top, #292F34, #23282C);
	background-image:    -moz-linear-gradient(top, #292F34, #23282C);
	background-image:     -ms-linear-gradient(top, #292F34, #23282C);
	background-image:      -o-linear-gradient(top, #292F34, #23282C);
	background-image:         linear-gradient(top, #292F34, #23282C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#292F34', EndColorStr='#23282C');*/
	height:26px;
	position:relative;
	opacity: 1;
	background-color:transparent;
}
#gallery nav.listen {
	height:26px;
	position:relative;
	opacity: 1;
	background-color:transparent;
}

.instruction {
	font-size:16px !important;
	/*color:#ffffff !important;*/
	margin-top:8px !important;
}

#divider {
	background-image: url(../img/carat.png);
	background-repeat: no-repeat;
	background-position: center top;
	position:relative;
	height:18px;
	opacity:1;
	background-color:transparent;
}

#position {
	text-align:center;
	font-size:27px;
	line-height:1.3;
	color:#697279;
	display:block;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-75px;
	width:150px;
}
#position em {
    display:inline-block;
    padding:0 3px;
    font-style:normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    font-family:sans-serif;
}
#position em.on {
	color:#fff;
}
#prev {
	/*border-right:1px #232628 solid;*/
	display:inline-block;
	text-decoration:none;
	background-image:url(../img/Previous.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	height:32px;
	width:80px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#prev em {
	display:block;
	/*border-right:1px #30373C solid;*/
	padding:10px 13px 8px;
	font-style:normal;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
	color:#697279;
	letter-spacing:1px;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,.35);*/
}
#next {
	/*border-left:1px #232628 solid;*/
	display:inline-block;
	text-decoration:none;
	position:absolute;
	right:0;
	top:0;
	background-image:url(../img/Next.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	height:32px;
	width:80px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#next em {
    display:block;
    /*border-left:1px #30373C solid;*/
    padding:10px 13px 8px;
    font-style:normal;
    font-weight:bold;
    font-size:11px;
    text-transform:uppercase;
    color:#697279;
    letter-spacing:1px;
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.35);*/
}


.base-tabs {
  background:#F5F6F7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F9FA), to(#F3F4F5));
  background-image: -webkit-linear-gradient(top, #F7F9FA, #F3F4F5);
  background-image:    -moz-linear-gradient(top, #F7F9FA, #F3F4F5);
  background-image:     -ms-linear-gradient(top, #F7F9FA, #F3F4F5);
  background-image:      -o-linear-gradient(top, #F7F9FA, #F3F4F5);
  background-image:         linear-gradient(top, #F7F9FA, #F3F4F5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F7F9FA', EndColorStr='#F3F4F5');
  border-top:1px #DADDE0 solid;
  border-bottom:1px #DADDE0 solid;
  padding:5px 4px 0;
  /*height:32px*/
}
  .base-tabs li {
    position:relative;
    top:1px;
    font-size:13px;
    color:#878E92;
    padding:6px 12px 5px;
    margin:0 0 0 2px;
    font-weight:bold;
    display:inline-block;
    background:#F5F6F7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F9FA), to(#F5F6F7));
    background-image: -webkit-linear-gradient(top, #F7F9FA, #F5F6F7);
    background-image:    -moz-linear-gradient(top, #F7F9FA, #F5F6F7);
    background-image:     -ms-linear-gradient(top, #F7F9FA, #F5F6F7);
    background-image:      -o-linear-gradient(top, #F7F9FA, #F5F6F7);
    background-image:         linear-gradient(top, #F7F9FA, #F5F6F7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F7F9FA', EndColorStr='#F5F6F7');
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px #DADDE0 solid;
    border-bottom:0;
    -webkit-box-shadow: inset 0 1px 0 #FAFBFC;
    -moz-box-shadow: inset 0 1px 0 #FAFBFC;
    box-shadow: inset 0 1px 0 #FAFBFC;
    border-bottom:1px #DADDE0 solid;
  }
    .base-tabs li.on {
      background:#fff;
      padding:6px 12px;
      color:#505659;
      border-bottom:0;
    }



p {
  color:#6B7072;
}
p.about {
  background:#F7F9FA;
  font-size:15px;
  line-height:1.45;
  padding:13px 12px 10px;
  margin:0;
  text-shadow:0 1px 0 #fff;
}
#tabSelector {
  border-top:0;
}
#tabs li div {
  padding:13px 12px;
}
h2 {
  color:#018CB6;
  font-size:16px;
  margin-bottom:5px;
}
pre {
  background: #23282C;
  border-radius: 3px;
  padding: 10px 12px;
  color: #F5F6F7;
  font-size:12px;
  font-weight:bold;
  -webkit-font-smoothing: antialiased;
}
code em {
  font-style:normal;
  color:#697279;
}
.config-list {
  margin:0 20px;
  list-style-type:disc;
}
.config-list small {
  color:#999;
  font-size:11px;
  display:block;
}

p.copy {
  background:#F7F9FA;
  line-height:1.45;
  padding:12px 12px 13px;
  margin:0;
  text-shadow:0 1px 0 #fff;
  border-top:1px #DADDE0 solid
}



.button {
  -webkit-background-clip: padding-box;
  border: solid 1px;
  border-color: #CCC #C0C1C2 #BDBEC0;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  display: block;
  font-weight: bold;
  line-height: 26px;
  overflow: hidden;
  padding: 2px 8px;
  margin:0;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  background: -webkit-gradient( linear, left top, left bottom, from(#FDFEFE), to(#F0F1F2) );
  -webkit-box-shadow: inset 0 1px 0 #fff;
  font-size:13px;
  color:#6A6F71;
  text-decoration:none;
  text-align:center;
}
.button:hover {
  background: -webkit-gradient( linear, left top, left bottom, from(#EDEEEE), to(#E4E5E6) );
  border-color: #B0ADAE #BFBDBD #C7C8CA;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 #fff;
}


.twitter {
  text-align:center;
  margin-top:20px;
  margin-bottom:0;
}
.twitter .twitter-follow-button {
  width:150px;
}

/* replace retina images in proper spots */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  #prev {
    background-image:url(../img/Previous@2x.png);
	-webkit-background-size: auto 24px;
  }
  #next {
    background-image:url(../img/Next@2x.png);
	-webkit-background-size: auto 24px;
  }
  .tag-one.unselected .checkmark {
    background-image:url(../img/checkmark-empty@2x.png);
	-webkit-background-size: auto 21px;
  }
  .tag-one.selected .checkmark {
    background-image:url(../img/checkmark@2x.png);
	-webkit-background-size: auto 21px;
  }
  .tag-two.unselected .checkmark {
    background-image:url(../img/checkmark-empty@2x.png);
	-webkit-background-size: auto 21px;
  }
  .tag-two.selected .checkmark {
    background-image:url(../img/checkmark@2x.png);
	-webkit-background-size: auto 21px;
  }
  .tag-three.unselected .checkmark {
    background-image:url(../img/checkmark-empty@2x.png);
	-webkit-background-size: auto 21px;
  }
  .tag-three.selected .checkmark {
    background-image:url(../img/checkmark@2x.png);
	-webkit-background-size: auto 21px;
  }
  #divider {
    background-image:url(../img/carat@2x.png);
	-webkit-background-size: auto 18px;
  }
  body {
    background-image:url(../img/bg9-568h@2x.jpg);
	-webkit-background-size: 320px auto;
  }
  .theme_dy {
	background-image: url(../img/bg-webview_dy@2x.jpg);
	-webkit-background-size: 320px auto;
  }
  .theme_lh {
	background-image: url(../img/bg-webview_lh@2x.jpg);
	-webkit-background-size: 320px auto;
  }
/*  #nav {
    background-image:url(../img/nav60@2x.png);
	-webkit-background-size: auto 47px;
  }
  #done {
    background-image:url(../img/nav_button@2x.png);
	-webkit-background-size: auto 33px;
  }
  #cancel {
    background-image:url(../img/nav_button@2x.png);
	-webkit-background-size: auto 33px;
  }
  #select-all {
    background-image:url(../img/action_button_lg@2x.png);
	-webkit-background-size: auto 33px;
  }*/
}